# Copyright (C) Pipin Fitriadi - All Rights Reserved

# Unauthorized copying of this file, via any medium is strictly prohibited
# Proprietary and confidential
# Written by Pipin Fitriadi <pipinfitriadi@gmail.com>, 24 July 2025

[flake8]
exclude = .venv/,.vercel/,build/
extend-ignore = E203,E501,E701
extend-select = B950
max-line-length = 80
per-file-ignores =
    tests/*.py: S101
