# Copyright (C) Pipin Fitriadi - All Rights Reserved

# Unauthorized copying of this file, via any medium is strictly prohibited
# Proprietary and confidential
# Written by Pipin Fitriadi <pipinfitriadi@gmail.com>, 4 August 2025

*.env
*.csv
*.json
*.txt
*.xlsx

!.oh-my-posh/**/*
!template.env
