{# Copyright (C) Pipin Fitriadi - All Rights Reserved

Unauthorized copying of this file, via any medium is strictly prohibited
Proprietary and confidential
Written by Pipin Fitriadi <pipinfitriadi@gmail.com>, 30 December 2025 #}

<img
    src="{{ url_for('static', path='/logo.svg').path }}"
    alt="{{ TITLE }}"
    title="{{ TITLE }}"
    class="
        h-1/10
        flex
            items-center
            justify-center
        italic
        bg-gradient-to-r
            from-[#ADCC36]
                via-[#1790D4]
                via-[#971497]
                via-[#97040C]
                via-[#FC6621]
                to-[#FECB2F]
            text-transparent
            bg-clip-text
        font-sans
        font-extrabold
        text-shadow-md
        text-5xl
        animate-pulse
    "
/>
