# Copyright (C) Pipin Fitriadi - All Rights Reserved

# Unauthorized copying of this file, via any medium is strictly prohibited
# Proprietary and confidential
# Written by Pipin Fitriadi <pipinfitriadi@gmail.com>, 9 December 2025

name: CI / CD
on:
  push:
    branches: ['**']
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
      - '[0-9]+.[0-9]+.[0-9]+-[a-z]+'
      - '[0-9]+.[0-9]+.[0-9]+-[a-z]+.[0-9]+'
jobs:
  code-quality:
    name: Code Quality
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
      - name: Install dependencies
        run: pip install --editable ".[code-quality]"
      - name: Test
        run: flake8
  code-coverage:
    name: Code Coverage
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
      - name: Install dependencies
        run: pip install --editable ".[code-coverage]"
      - name: Test
        run: coverage run -m pytest -rfEP -q --junit-xml=code-coverage.xml
      - name: Display coverage
        run: coverage report -m
      - name: Get Cover
        uses: orgoro/coverage@v3.2
        with:
          coverageFile: code-coverage.xml
          token: ${{ github.token }}
      - name: Test coverage must be 100% passed!
        if:
          github.ref_type == 'tag' ||
          github.event_name == 'pull_request' ||
          contains('refs/heads/main refs/heads/develop', github.ref) ||
          startsWith(github.ref, 'refs/heads/release/') ||
          startsWith(github.ref, 'refs/heads/hotfix/')
        run: if [ $(printf '%.0f' $(coverage report | awk '$1 == "TOTAL" {print $NF+0}')) -ge 100 ]; then exit; else exit 1; fi
  # pypi:
  #   name: PyPI
  #   needs: [code-quality, code-coverage]